<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" data-cookieconsent="ignore">
      document.write(
        '<script id="pc" type="text/javascript" src="https://api.dataships.io/js/pc.js?apikey=SGKzmLPzCwKaaR_C3vIC0KEYMjXHTOlZWy7bAPa6cIg=&v=' +
          Date.now() +
          '" async defer></scr' +
          "ipt>"
      );
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <iframe
      data-cookieconsent="ignore"
      style="
        position: fixed;
        border: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      "
      src="https://app.dataships.io/privacycenter/SGKzmLPzCwKaaR_C3vIC0KEYMjXHTOlZWy7bAPa6cIg="
    ></iframe>
    <script
      type="text/javascript"
      defer
      src="https://core-api.dataships.io/v1/code-snippets/cookie-script?apikey=SGKzmLPzCwKaaR_C3vIC0KEYMjXHTOlZWy7bAPa6cIg="
    ></script>
  </body>
</html>
