.signup_wrapper {
  position: relative;
  top: 70px;
  padding: 3rem;
  display: grid;
}
.signup_title {
  font-weight: 600;
  font-size: 30px;
}
.signup_subtitle {
  width: fit-content;
  position: relative;
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid #c6c6c6;
  margin-top: 1rem;
}
